﻿@using Assignment3.Models
@{
    ViewBag.Title = "StdInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var student = (Student)ViewBag.student;
}

<h2>Student Information</h2>

<table bgcolor="#00FF00">
    <tr>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Student Grades</th>
    </tr>
    <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>@student.Grades</td>
    </tr>
</table>